.content{
  padding: 2%;
  display: flex;
  align-items: center;
  background-color: #bc0606;
  background-image: url("/assets/spicy-bois-background.png");;
}

.table {
  padding: 2%;
  width: 100%;
  background-color: #bc0606;
}

.mat-cell{
  font-size: large;
  font-weight: 500;
}

.mat-header-cell{
  font-size: large;
  font-weight: 900;
}

