:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

html{
    background-image: url('../assets/wetbread.jpg');
    height: 100%;
    width: 100%;
    background-color: #bc0606;
}

.container{
  background-color: black ;
  color: white;
  font-family: "Arial", sans-serif;
  width: 100%;
  height: 100%;
}

.toolbar {
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
}

.menu-button{
  left:1%;
  top:25%;
  justify-content: flex-start;
  color: #bc0606;
}

.spicy-bois-ant{
  right: 1;
  left:20%;
  justify-content: flex-end;
  padding-left: 90%;
  padding-top:.5%;
  padding-bottom:.5%;
}



mat-sidenav {
  height: 200%;
  padding-top:15%;
  padding-bottom:15%;
  background-color: black;
  color: white;
  .entry{
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 20px;
      font-weight:450;
  }
}

body {
  background-color: black;
}

