<!-- Toolbar -->
<header>
  <div class="toolbar" role="banner">
    <a mat-button class="button-1" href="">Home</a>
    <a mat-button class="button-2" href="roster/">Roster</a>
    <img class="spicy-bois-ant"
      width="90"
      alt="Spicy Bois Logo"
      src="assets/spicy-bois-ant.png"
    />
    <a mat-button class="button-3" href="schedule/">Schedule</a>
    <a mat-button class="button-4" href="pictures/">Pictures</a>
    
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
