.content{
    background-color: #bc0606;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}
.content1{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

